# Postgres
POSTGRES_USER=gleego
POSTGRES_PASSWORD=change-me-strong
POSTGRES_DB=gleego_id

# Backend
JWT_SECRET=replace-with-long-random-string
CORS_ORIGIN=https://app.seudominio.com,https://bio.gleego.com.br
PUBLIC_BACKEND_URL=https://api.seudominio.com
SUPERADMIN_EMAIL=tnicodemos@gmail.com
SUPERADMIN_PASSWORD=troque-por-uma-senha-forte-sem-cifrao
SUPERADMIN_RESET_PASSWORD=true

# Frontend
NEXT_PUBLIC_API_URL=https://api.seudominio.com