# Postgres
POSTGRES_USER=gleego
POSTGRES_PASSWORD=change-me-strong
POSTGRES_DB=gleego_id

# Backend
JWT_SECRET=replace-with-long-random-string
CORS_ORIGIN=https://app.seudominio.com

# Frontend
NEXT_PUBLIC_API_URL=https://api.seudominio.com